*{
    margin: 0;
    padding: 0;
}
header{
    display: none;
    font-size: 25px;
    width: 100%;
    position: fixed;
    bottom: 0;
}
header nav{
    display: flex;
    margin: auto;
    text-align: center;
    align-items: top;
    width: 100%;
    height: fit-content;
    background-color: black;
}
header nav a{
    flex-basis: 20%;
}
header nav a i{
    color: rgb(238,229,229);
    margin: 0.5rem 0 -0.5rem 0;
}
header nav a ul {
    display: flex;
    flex-direction: column-reverse;
}
header nav a ul li{
    color: rgb(238,229,229);
    text-decoration: none;
    list-style: none;
}
label{
    font-size: 0.8rem;
    margin: 5px 0;
    text-decoration: none;
    list-style: none;
    color: white;

}
@media screen and (max-width:500px) {
    header{
        display: block;
    }
}